* {
    font-family: arial;
    font-size: 16 ;

}

body {
    background-color: rgb(201, 144, 255);

}

main {
    background-color: rgb(255, 255, 255);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(18, 25, 33, 0.499);
}